
 :root{
    --softred: hsl( 14, 88%, 65%);
    --veryDarkGrayBlue: hsl(237, 12%, 33%); 
    --darkGrayBlue: hsl(240, 6%, 50%);
    --LightGrayBlue: hsl(240, 5%, 91%);
    --font-size:12px  
 }
 *{
    box-sizing: border-box;
 }
 html {
    font-size: var(--font-size);
 }
 body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(hsl(273,75%,66%),hsl(240,73%,65%));
    display: grid; 
    justify-content: center;
    align-content: center;
 }

 .wrapper {
    background:rgb(226,226, 226) url(images/bg-pattern-desktop.svg)  no-repeat 1250% 65%;
    border-radius: 30px;
    height: 509px;
    width: 920px;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 10rem;

    
 }
 .image-wrapper--inner{
   margin-left: -20%;
   margin-top: 10%;
 }
 .box {
 position: absolute;
 top: 40%;
 margin-left: -7%;
 }




 .answer {
    display: none;
 }
 .active .answer {
   display: block;
   padding-bottom:1.3rem ;
   color: var(--veryDarkGrayBlue);
   transition: all .3s ease-in;
 }
 img{
   transform: rotate(0deg);
   transition: all .3s ease-in;
 }
 .active img{
   transform: rotate(180deg);
   transition: all .3s ease-in;
 }
 .active h3{
   font-weight: 700;
 }

 .accordion-wrapper {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    margin-left: -20%;

    
 }

 .questions-accordion{
    height: 100%;
    display: flex;
    flex-direction: column;
 }
 .qestion-answer-accordion{
    width: 350px;
    border-bottom: 1px solid #e8e8ea;  
 }
 .title-accordion {
    font-size: 3rem;
    margin-top: 0px;
 }
  .title-question {
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--veryDarkGrayBlue);
    margin: 1.4rem 0rem;
  }
  .i {
   width: 12px;
   display: flex;
   justify-content: flex-end;
   margin-top: -30px;
   margin-left: 80%;
   cursor: pointer;
  }
  hr{
   width: 35rem;
   margin-left: -13px;
  }
  @media(max-width:600px) {
      .wrapper {
         background: #e8e8ea url(images/bg-pattern-mobile.svg) no-repeat 50% 5%;
         height: 500px;
         width: 340px;
         margin-top: 30%;
         display: grid;
         grid-template-columns: 1fr;
         grid-gap: 10rem;
        

      }
      .image-wrapper--inner{
         width: 20rem;
         content: url(images/illustration-woman-online-mobile.svg) ;
         margin-left: 17%;
         margin-top: -25%;
      }
      .box{
         display: none;
      }
      .accordion-wrapper{
        display: flex;
        flex-direction: column;
        margin-top: -15rem;
        margin-left: 2.5rem;
      }
      .title-accordion{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 30%;
        font-weight: bold;
      }
      hr{
         width: 25rem;
         margin-left: 7px;
      }
   .i{
    left:90%;
  }

  


    
